.idea
/c3.php

/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/swagger-ui
!tests/_data
tests/_data/*
!tests/_data/.gitkeep
/app/DoctrineMigrations
!/var/jwtcertificates/
/var/jwtcertificates/*
!/var/jwtcertificates/public.pem
