# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: DEV_DB_MARKETINGS
    database_user: dev_u_marketings
    database_password: spirit
    
    database_name_user: DEV_DB_USERS
    database_user_user: dev_u_users
    database_password_user: spirit
    
    database_name_partner: DEV_DB_PARTNERS
    database_user_partner: dev_u_partners
    database_password_partner: spirit

    database_name_vehicle: DEV_DB_VEHICLES
    database_user_vehicle: dev_u_vehicles
    database_password_vehicle: spirit

    # You should uncomment this if you want to use pdo_sqlite
    database_path: '%kernel.project_dir%/tests/_data/test.sqlite'

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    api_host: api5.audi.dev.agence-one.net

    # Related to AGC V4
    v4_database_host: audiwas201.as44099.net
    v4_database_port: 1433
    v4_database_name: AUDI_RECETTE
    v4_database_user: useraudipp
    v4_database_password: 4Hv2Og4L7tsWw

    # rabbitMQ
    rabbitmq_host: rabbitmq5.audi.dev.agence-one.net
    rabbitmq_user: guest
    rabbitmq_password: guest

